form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.botoesSC {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 20px;
}

.botaoSalvar{
    padding: 0px 10px;
}



.ajustarTextoIncluir {
    margin: 20px;
}